<!DOCTYPE html>
<html lang="en" ng-app="SignupApp">
<head>
    <meta charset="UTF-8">
    <title>SP Short Course : View SignUp</title>

    <!--// Base libs //-->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>

    <!--// angular app //-->
    <script src="/app.js"></script>
    <script src="/viewSignUp.js"></script>
    <script src="/services/signupAppSvc.js"></script>
</head>
<body>
    <div class="btn-warning text-center">
        <br />
        <h3>SP Short Course: View SignUp</h3>
        <hr />
    </div>
    <div class="container">
        <div class="row" ng-controller="ViewSignCtrl as viewSignCtrl">
            <div class="col-sm-12">
                <button ng-click="viewSignCtrl.getMemberList()" class="btn btn-success pull-right"><i class="fa fa-refresh fa-lg fa-spin" ></i> refresh</button>

                <table class="table table-sm">
                    <thead class="thead-default">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Gender</th>
                            <th>Date of Birth</th>
                            <th>Address</th>
                            <th>Contact</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(index, member) in  viewSignCtrl.memberList">
                            <th scope="row">{{index + 1}}</th>
                            <td>{{member.username}}</td>
                            <td>{{member.useremail}}</td>
                            <td>{{member.userpassword}}</td>
                            <td>{{member.gender}}</td>
                            <td>{{member.dateOfBirth}}</td>
                            <td>{{member.address}}</td>
                            <td>{{member.contact}}</td>
                            <td>{{member.country}}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</body>
</html>